h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#main {
  background-color: lightgray;
  display: inline-block;
  margin: center;
  width: 1000px;
  height: 500px;
}

#ownerRegistration {
  background-color: lightyellow;
  height: auto;
  width: 800px;
  margin-left: 100px;
  padding-top: 10px;
  padding-bottom: 30px;
}

#pets {
  background-color: lightyellow;
  height: auto;
  width: 800px;
  margin-top: 20px;
  margin-left: 100px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.ownerName {
  margin: 0 auto;
  width: 360px;
}

.petInfo {
  margin: 0 auto;
  width: 500px;
}

table {
  border-collapse: collapse;
  width: 800px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 100px;
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}
