h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#main {
  background-color: lightgray;
  display: inline-block;
  margin: inherit;
  width: 700px;
}

#ownerRegistration {
  background-color: lightyellow;
  height: auto;
  width: 600px;
  margin-left: 50px;
  padding-bottom: 10px;
}

#pets {
  background-color: lightyellow;
  height: auto;
  width: 600px;
  margin-left: 50px;
  padding-bottom: 10px;
}
